@media screen and (min-width: 1000px) {
  body {
    background-attachment: fixed;
    min-height: initial;
  }
  h1 {
    font-size: 4.5rem;
  }
  .side-panel {
    transition: left 350ms ease-in-out, width 200ms;
    width: 250px;
    box-shadow: 1px 3px 4px 3px rgba(0,0,0,0.2);
  }
  .side-panel::before {
    background: url(../images/bg.jpg) center / cover fixed;
    opacity: 0.5;
  }
  .slideout {
    left: -250px;
    transform: initial;
  }
  .header-link-text {
    font-size: 1.1rem;
    font-weight: 400;
  }
  .link-container-change {
    width: 155px;
    flex-flow: row wrap;
    text-align: right;
  }
  .link-container-change > a {
    width: 100%;
  }
  .link-container-change > a > .header-link-text {
    font-size: 1rem;
    font-weight: 200;
  }
  .projekt-container {
    grid-template: auto / repeat(auto-fit, minmax(250px, 1fr));
  }
  html {
    font-size: initial;
  }
  .color-btn-container, .content-container {
    width: 60%;
  }
  .color-btn-container .btn {
    font-size: initial;
    font-weight: initial;
  }
  .profile-pic {
    width: 150px;
    height: 150px;
  }
  .content-container {
    transition: opacity 450ms ease-out, transform 300ms ease-out;
  }
  .side-panel {
    grid-row-gap: 20px;
  }
  .side-btn {
    height: 50px;
  }
  .link-container-change {
    opacity: 1;
  }
  .hamburger {
    height: 18px;
    width: 35px;
  }
  .hamburger::before {
    margin-top: 9px;
  }
  .hamburger, .hamburger::before, .hamburger::after {
    border-bottom: 2px solid white;
  }
  .hamburger:hover, .hamburger:hover::before, .hamburger:hover::after {
    border-bottom: 2px solid var(--theme-color);
  }
  .main-spinner {
    width: 30%;
    height: 30%;
  }
  .skill-icon:hover image, .skill-icon-compat:hover .skill-icon image {
    transition: opacity 200ms ease-out;
    opacity: 0;
  }
  .skill-icon:hover text, .skill-icon-compat:hover .skill-icon text {
    transition: opacity 200ms 200ms ease-in;
    opacity: 1;
  }
  .skill-icon-legend {
    justify-content: flex-start;
    background: rgba(0,0,0,0.4);
    display: inline-block;
  }
  .skill-icon-legend svg {
    margin: 0.5rem 1rem;
  }
  .skill-icon-legend h3 {
    margin: 0.5rem 0 0 1rem;
  }
}
@media screen and (min-width: 1440px) {
  .detail-container {
    display: flex;
    flex-flow: wrap;
    justify-content: center;
  }
  .detail-text {
    padding: 1.5rem;
    background: rgba(30,30,30,0.3);
  }
  .image-text-block {
    margin: 1rem 0;
    display: flex;
    justify-content: space-between;
  }
  .image-text-block-right > .image-block {
    order: 1;
  }
  .image-text-block-right > .text-block {
    justify-content: flex-start;
  }
  .image-text-block:last-of-type {
    margin-bottom: 2rem;
  }
  .image-block {
    box-sizing: border-box;
    width: 50%;
    height: 100%;
  }
  .text-block {
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
  .text-block > p {
    width: 75%;
    padding: 1.5rem;
  }
}