@media screen and (min-width: 600px) {
  html {
    font-size: initial;
  }
  h1 {
    font-size: 2.4rem;
  }
  h2 {
    font-size: 1.3rem;
  }
  p {
    font-size: initial;
  }
  button, .header-link-text {
    font-size: 0.8rem;
  }
  .content-container {
    transition: opacity 450ms ease-out, transform 350ms ease-in-out, width 350ms ease-in-out;
  }
  .main-spinner {
    width: 30%;
    height: 30%;
  }
  .profile-pic {
    margin-top: 6rem;
  }
  .hamburger:hover, .hamburger:hover::before, .hamburger:hover::after {
  border-bottom: 2px solid var(--theme-color);
  }
  .skill-icon-legend {
    justify-content: flex-start;
    display: inline-block;
  }
  .skill-icon-legend svg {
    margin: 1rem 1rem;
  }
  .skill-icon-legend h3 {
    margin: 0.5rem 0 0 1rem;
  }
  .skill-icon:hover image, .skill-icon-compat:hover .skill-icon image {
    transition: opacity 200ms ease-out;
    opacity: 0;
  }
  .skill-icon:hover text, .skill-icon-compat:hover .skill-icon text {
    transition: opacity 200ms 200ms ease-in;
    opacity: 1;
  }
}
@media screen and (min-width: 900px) {
  h1 {
    font-size: 3.5rem;
  }
  h2 {
    font-size: 1.4rem;
  }
  button {
    font-size: 0.9rem;
  }
  .header-link-text {
    font-size: 1rem;
  }
  .content-container, .color-btn-container {
    width: 70%;
  }
}
@media screen and (min-width: 1200px) {
  .header {
    align-items: unset;
  }
  .link-container {
    margin-right: 2rem;
  }
  .link-container-change {
    width: 155px;
    flex-flow: row wrap;
    text-align: right;
    position: absolute;
    right: 0;
    top: 50%;
  }
  .link-container-change > a {
    width: 100%;
    height: 2.25rem;
  }
  .link-container-change > a > .header-link-text {
    font-size: 0.85rem;
    font-weight: 300;
  }
  .link-container-change {
    opacity: 1;
  }
  body {
    background-attachment: fixed;
  }
  h1 {
    font-size: 3.7rem;
  }
  .side-panel {
    transition: left 350ms ease-in-out, width 200ms;
    width: 220px;
    box-shadow: 1px 3px 4px 3px rgba(0,0,0,0.2);
  }
  .side-panel::before {
    position: absolute;
    background: url(../images/bg.jpg) center / cover fixed;
    width: 110%;
  }
  .side-link-container {
    margin-bottom: 6rem;
  }
  .slideout {
    left: -220px;
    transform: initial;
  }
  .hamburger {
    height: 18px;
    width: 35px;
    margin-left: 2rem;
    margin-top: 0.5rem;
  }
  .hamburger::before {
    margin-top: 9px;
  }
  .color-btn-container {
    transition: transform 350ms ease-in-out, width 350ms ease-in-out;
  }
  ::-webkit-scrollbar {
    width: 0.7rem;
    height: 1rem;
    background: #989898;
  }
  ::-webkit-scrollbar-thumb {
    background: rgba(255, 255, 255, 0.5);
    border-radius: 50px;
  }
  ::-webkit-scrollbar-thumb:hover {
    background: rgba(255, 255, 255, 0.8);
  }
  .skill-icon {
    width: 100px;
    height: 100px;
  }
  .skill-icon-compat {
    position: relative;
    width: 100px;
    height: 100px;
  }
  .menu-aside {
    transform: translateX(calc(-50% + 110px));
    width: 55%;
  }
}
 @media screen and (min-width: 1400px) {
   h1 {
     font-size: 4.3rem;
   }
   .content-container, .color-btn-container {
    width: 65%;
    max-width: 1300px;
  }
  .detail-container {
    display: flex;
    flex-flow: wrap;
    justify-content: center;
  }
  .detail-text {
    padding: 1.5rem;
    background: rgba(30,30,30,0.3);
  }
  .image-text-block {
    margin: 1rem 0;
    display: flex;
    justify-content: space-between;
  }
  .image-text-block-right > .image-block {
    order: 1;
  }
  .image-text-block-right > .text-block {
    justify-content: flex-start;
  }
  .image-text-block:last-of-type {
    margin-bottom: 2rem;
  }
  .image-block {
    box-sizing: border-box;
    width: 50%;
    height: 100%;
  }
  .text-block {
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
  .text-block > p {
    width: 75%;
    padding: 1.5rem;
  }
  .skill-icon {
  width: 120px;
  height: 120px;
  }
  .skill-icon-compat {
    position: relative;
    width: 120px;
    height: 120px;
  }
  .menu-aside {
    width: 55%;
  }
}
@media screen and (min-width: 1550px) {
  .content-container, .color-btn-container {
    width: 70%;
  }
  .menu-aside {
    width: 65%;
  }
}
@media screen and (min-width: 1800px) {
  .content-container, .color-btn-container {
    width: 80%;
  }
  .menu-aside {
    width: 65%;
  }
}
@media screen and (min-width: 2100px) {
  .menu-aside{
    transform: translateX(-50%);
  }
}
.disable-glass.side-panel {
  transition: width 200ms, transform 270ms ease-in-out;
}
.disable-glass.side-panel::before {
  position: fixed;
  background: url(../images/bg.jpg) center / cover no-repeat;
  width: 230px;
}
.disable-glass.slideout {
  left: auto;
  transform: translateX(-280px);
}