.hamburger {
  margin-left: 2.5rem;
  position: relative;
  width: 55px;
  height: 32px;
  cursor: pointer;
  outline: none;
  user-select: none;
}
.hamburger, .hamburger::before, .hamburger::after {
border-bottom: 4px solid white;
}
.hamburger:hover, .hamburger:hover::before, .hamburger:hover::after {
border-bottom: 4px solid var(--theme-color);
}
.hamburger::before, .hamburger::after {
  content: "";
  position: absolute;
  width: inherit;
  top: 0;
  left: 0;
}
.hamburger::before {
  margin-top: 16px;
}
@media screen and (min-width: 1000px) {
  .hamburger {
    height: 18px;
    width: 35px;
  }
  .hamburger::before {
    margin-top: 9px;
  }
  .hamburger, .hamburger::before, .hamburger::after {
    border-bottom: 2px solid white;
  }
  .hamburger:hover, .hamburger:hover::before, .hamburger:hover::after {
    border-bottom: 2px solid var(--theme-color);
  }
}