html, body, #app {
  margin: 0;
}
.app-light {
  background: url(../images/bg-light.jpg) center / cover fixed;
}
.app-dark {
  background: url(../images/bg-dark.jpg) center / cover fixed;
}
.side-panel-light::before {
  background: url(../images/bg-light.jpg) center / cover fixed;
}
.side-panel-dark::before {
  background: url(../images/bg-dark.jpg) center / cover fixed;
}
body {
  overflow: hidden;
}
#app {
  overflow-y: auto;
}
#app, body {
  height: 100vh;
  margin: 0;
  will-change: opacity;
}
div, p, button, h1, h2, h3, h4 {
  font-family: Bahnschrift, Roboto, "Open Sans", sans-serif;
  color: #fff;
}
h1 {
  font-size: 4.5rem;
}
p {
  font-size: 1.1rem;
  font-weight: lighter;
}
.header {
  padding-top: 2.5rem;
  position: fixed;
  width: 100%;
  top: 0;
  display: flex;
  z-index: 99;
  justify-content: space-between;
}
.header-link-text {
  font-size: 1.1rem;
  font-weight: 400;
}
.side-panel {
  position: absolute;
  top: 0;
  left: 0;
  will-change: opacity;
  transition: left 350ms ease-in-out;
  background-color: rgba(255, 255, 255, 0.1);
  background-blend-mode: hard-light;
  box-shadow: 2px 0 15px rgba(0,0,0,0.25);
  display: grid;
  grid-template: 5.5rem 200px repeat(auto-fill, minmax(50px, 1fr)) / 1fr;
  grid-row-gap: 20px;
  text-align: center;
  justify-items: center;
  z-index: 1;

}
.side-panel::before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  filter: blur(6px);
  z-index: -1;
}
.slideout {
  left: -300px;
}
.side-button {
  width: 70%;
  height: 50px;
  z-index: 5;
  color: #f0f0f0;
  font-weight: lighter;
  font-size: 1.1rem;
}
.side-button:hover {
  box-shadow: inset 0 0 70px 7px rgba(0,0,0,0.3);
  border-radius: 30px;
  color: rgba(240,240,240,0.95);
}
a {
  text-decoration: none;
}
button {
  background: none;
}