@import url('https://fonts.googleapis.com/css?family=Raleway:300,400,500,600');
:root {
  --bg-color: rgba(119,241,19,0.6);
  --menu-color: #77f113;
  --theme-color: #77f113;
  --transparent-color: rgba(0,0,0,0.001);
}
html {
  background: url(../images/bg.jpg) center / cover no-repeat
}
html, body {
  margin: 0;
}
body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: var(--bg-color) center / cover no-repeat;
  transition: background-color 350ms ease-out;
  overflow-x: hidden;
  height: 100%;
  min-height: 100vh;
  padding-bottom: 2rem;
  box-sizing: border-box;
}
main {
  display: block;
}
body > div {
  padding-top: 5rem;
}
h1, h2, h3, p, button, div, a {
  font-family: 'Raleway', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: #fff;
}
h1, h2, h3, p, button, a {
  transition: font-size 350ms ease-in-out, transform 100ms ease-out, color 150ms ease-in-out;
}
h1 {
  font-size: 1.6rem;
  margin-bottom: 1rem;
  text-transform: uppercase;
}
section h1 {
  font-size: 1.4rem;
}
h2 {
  font-size: 1.1rem;
}
h3 {
  font-size: 1rem;
}
p {
  font-size: 0.8rem;
  font-weight: 400;
  line-height: 1.4;
}
img {
  object-fit: contain;
}
img.pointer:focus-visible {
  box-shadow: 0 0 14px 1px rgba(0,0,0,0.6);
}
.textsquish:not(.textsquish-blocker) {
  transform: scale(1, 0.03);
}
button {
  font-size: 0.7rem;
  background: none;
  margin: 0;
  padding: 0;
  border: none;
  cursor: pointer;
  outline: none;
  user-select: none;
}
button:focus {
  outline: currentColor dotted thin;
  outline: -webkit-focus-ring-color auto 5px;
}
button:focus:not(:focus-visible) {
  border-bottom: none;
  outline: none;
}
button:focus-visible {
  border-bottom: 2px solid white;
}
a {
  text-decoration: underline;
}
a:focus {
  font-weight: bolder;
}
a:focus:not(:focus-visible) {
  font-weight: normal;
}
.textsquish.textsquish-blocker, .textsquish.textsquish-blocker a  {
  color: transparent;
}
input[type=color] {
  opacity: 0;
  width: 0;
}
.pointer {
  cursor: pointer;
}
.events {
  pointer-events: initial;
}
.no-overflow {
  overflow: hidden;
}
.invisible {
  opacity: 0;
}
#overlay {
  background: rgba(0,0,0,0.85);
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 101;
  padding: 1.2rem;
  box-sizing: border-box;
  transition: opacity 200ms ease-out;
}
#overlay img {
  height: 100%;
  width: 100%;
  object-fit: contain;
  margin-left: 50%;
  transform: translateX(-50%);
  transition: transform 150ms 50ms, opacity 150ms 50ms;
}
#overlay img.overlay-squish {
  transform: translateX(-50%) scaleY(0.01);
  opacity: 0;
}
.header {
  position: fixed;
  width: 100%;
  top: 1.5rem;
  display: flex;
  z-index: 100;
  justify-content: space-between;
  align-items: center;
  pointer-events: none;
}
.link-container {
  display: flex;
  margin-right: 1rem;
  transition: opacity 100ms;
}
.link-container-change {
  opacity: 0;
}
.header-link {
  align-self: right;
  margin-left: 1rem;
  text-decoration: none;
}
.header-link-text {
  font-size: 0.7rem;
  direction: rtl;
  position: relative;
}
.header-link-text::before {
  content: "";
  width: 0;
  height: 100%;
  position: absolute;
  transition: width 350ms ease-in-out;
  border-bottom: 2px solid var(--theme-color);
}
.header-link-text:hover, .header-link:focus .header-link-text{
  direction: ltr;
}
.header-link-text:hover::before, .header-link:focus .header-link-text::before {
  width: 100%;
}
.content-container {
  transition: opacity 700ms ease-out;
  margin: 0 3rem 0 50%;
  transform: translateX(-50%);
  width: 70%;
}
.animate-in {
  opacity: 0;
}
.color-btn-container {
  margin-left: 50%;
  transform: translateX(-50%);
  width: 70%;
}
.color-btn-container span {
  margin-right: 15px;
}
.color-btn-container span {
  border-bottom: solid 2px var(--theme-color);
}
.projekt-container {
  display: flex;
  flex-wrap: wrap;
}
.thumbnail {
  cursor: pointer;
  width: 100%;
  background: #f0f0f0 center / cover no-repeat;
  margin: 0;
  padding-top: 100%;
  position: relative;
  box-shadow: 0 0 0 4px var(--theme-color);
}
.projekt-container a {
  width: 100%;
  height: 100%;
  margin-bottom: 20px;
}
@media screen and (min-width: 580px) {
  .projekt-container a {
    width: calc(50% - 10px);
    height: calc(50% - 10px);
    margin: 0 20px 20px 0;
  }
  .projekt-container a:nth-child(2n) {
    margin-right: 0;
  }
}
@media screen and (min-width: 1320px) {
    .projekt-container a {
      width: calc(33.3% - 10px);
      height: calc(33.3% - 10px);
      margin: 0 15px 15px 0;
  }
  .projekt-container a:nth-child(2n) {
    margin-right: 15px;
  }
  .projekt-container a:nth-child(3n) {
    margin-right: 0;
  }
}
@media screen and (min-width: 1550px) {
  .projekt-container a {
    width: calc(25% - 12px);
    height: calc(25% - 12px);
    margin: 0 16px 16px 0;
  }
  .projekt-container a:nth-child(3n) {
    margin-right: 16px;
  }
  .projekt-container a:nth-child(4n) {
    margin-right: 0;
  }
}
@supports (display: grid) {
  .projekt-container {
    display: grid;
    grid-template: auto / repeat(auto-fit, minmax(230px, 1fr));
    grid-gap: 0.9rem;
  }
  .projekt-container a,
  .projekt-container a:nth-child(2n),
  .projekt-container a:nth-child(3n),
  .projekt-container a:nth-child(4n) {
    width: initial;
    height: initial;
    margin: 0;
  }
}
.thumbnail p {
  width: 100%;
  text-align: center;
}
.overlay {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background: rgba(0,0,0,0.85);
  z-index: 10;
  opacity: 0;
  transition: opacity 200ms ease-out;
  display: flex;
  align-items: center;
  justify-content: center;
}
.overlay > p {
  line-height: 2rem;
  font-weight: 500;
}
.overlay > p > span {
  font-weight: 300;
  pointer-events: none;
}
.thumbnail:hover .overlay, a:focus .thumbnail .overlay {
  opacity: 1;
}
.loading-screen {
  position: absolute;
  display: flex;
  justify-content: center;
  margin: 50vh 0 0 50%;
  transform: translate(-50%, -50%);
}
.main-spinner {
  width: 80%;
  height: 80%;
  transform: translateY(-25%)
}
.spinner {
  width: 50%;
  height: 50%;
  display: none;
}
.spinner-overlay {
  opacity: 1;
}
.spinner-overlay p {
  display: none;
}
.spinner-overlay .spinner {
  display: block;
}
.spinner-overlay .animation-fallback {
  width: 100%;
}
.legal section h2 {
  margin: 0;
}
.animation-fallback {
  display: flex;
  justify-content: center;
  animation: spin 1.6s linear infinite reverse -0.2s;
}
.detail-container {
  line-height: 1.5rem;
  height: 100%;
  width: 100%;
}
.detail-image {
  width: 100%;
  height: 100%;
  display: block;
}
.detail-text {
  padding: 1rem;
  margin: 0 0 1rem 0;
  text-align: justify;
  hyphens: auto;
  -ms-hyphens: auto;
  background: rgba(30,30,30,0.3);
}
.image-text-block {
  margin-bottom: 2rem;
  width: 100%;
}
.image-block, .text-block {
  flex: 1;
}
.image-block {
  width: 100%;
  display: block;
  height: auto;
}
.text-block > p {
  background: rgba(30,30,30,0.3);
  margin: 0;
  width: 100%;
  box-sizing: border-box;
  padding: 1rem;
  text-align: justify;
  hyphens: auto;
  -ms-hyphens: auto;
}
.error-section {
  width: 70%;
  max-width: 50vh;
  margin: 0 auto 0 0;
}
.error-section > button {
  margin-bottom: 0.5rem;
}
#the-modal {
  position: fixed;
  width: 50vw;
  max-width: 300px;
  height: 15vw;
  max-height: 80px;
  background: var(--bg-color);
  box-shadow: inset 0 0 10px 500px rgba(0,0,0,0.6);
  border: 8px solid #282828;
  margin: 50vh 0 0 50%;
  padding: 0.7rem;
  transform: translate(-50%, -50%);
  z-index: 3000;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  text-align: center;
  animation: fade-in 200ms;
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
}
#the-modal > p {
  width: 100%;
  margin: 0;
  padding: 0;
  font-size: 0.95rem;
  font-style: italic;
  z-index: 3000;
}
#the-modal > button {
  font-size: 1.3rem;
  font-weight: 600;
  padding-top: 5px;
  z-index: 3000;
  border-bottom: 2px solid var(--theme-color);
}
#the-modal > button.cancel-btn {
  font-size: 1rem;
  font-weight: 300;
  width: 100%;
  border: none;
}
#the-modal::before {
  content: '';
  position: fixed;
  z-index: -1;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  background: rgba(0,0,0,0.65);
  animation: fade-in 200ms;
}
@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.about-page {
  display: flex;
  flex-direction: column;
}
.phone-pair-page a {
  text-decoration: none;
}
#google-badge {
  width: 100%;
  max-width: 400px;
  margin-top: 3rem;
  align-self: center;
  box-shadow: 0 0 0 4px var(--theme-color);
}