@import url('https://fonts.googleapis.com/css?family=Raleway:200,300,400,500,600');

html, body {
  margin: 0;
  min-height: 100%;
}
body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: url(../images/bg.jpg) center / cover no-repeat;
  overflow-x: hidden;
  min-height: 100vh;
}
body::before {
  content: '';
  display: block;
  top: 0;
  left: 0;
  opacity: 0.6;
  width: 100%;
  height: 100%;
  position: fixed;
  background: var(--theme-color);
}
body > div {
  padding-top: 5rem;
}
h1, h2, h3, p, button, div, a {
  font-family: 'Raleway', sans-serif;
  color: #fff;
}
h1, h2, h3, p, button, a {
  transition: font-size 300ms, transform 100ms ease-out, color 150ms ease-in-out;
}
h1 {
  font-size: 1.6rem;
  margin-bottom: 1rem;
  text-transform: uppercase;
}
h2 {
  font-size: 1.2rem;
}
h3 {
  font-size: 1rem;
}
p {
  font-size: 0.9rem;
  font-weight: 400;
}
.textsquish:not(.textsquish-blocker) {
  transform: scale(1, 0.03);
}
button {
  font-size: 0.7rem;
  background: none;
  margin: 0;
  padding: 0;
  border: none;
  cursor: pointer;
  outline: none;
  user-select: none;
}
a {
  text-decoration: underline;
}
.textsquish.textsquish-blocker, .textsquish.textsquish-blocker a  {
  color: transparent;
}
input[type=color] {
  opacity: 0;
}
.pointer {
  cursor: pointer;
}
.events {
  pointer-events: initial;
}
.header {
  position: fixed;
  width: 100%;
  top: 1.5rem;
  display: flex;
  z-index: 99;
  justify-content: space-between;
  align-items: center;
  pointer-events: none;
}
.link-container {
  display: flex;
  margin-right: 1rem;
  transition: opacity 100ms;
}
.link-container-change {
  opacity: 0;
}
.header-link-text {
  font-size: 0.7rem;
}
.header-link-text:hover {
  color: var(--theme-color);
  text-shadow: 0 0 2px #585858;
}
.header-link {
  align-self: right;
  margin-left: 1rem;
  text-decoration: none;
}
.content-container {
  transition: opacity 700ms ease-out;
  margin: 0 3rem 3rem 50%;
  transform: translateX(-50%);
  width: 70%;
}
.animate-in {
  opacity: 0;
  transform: translateX(-50%) scale(0.92);
}
.color-btn-container {
  margin-left: 50%;
  transform: translateX(-50%);
  width: 70%;
}
.color-btn-container span:not(:first-child) {
  margin-left: 15px;
}
.color-btn-container span {
  border-bottom: solid 2px var(--theme-color);
}
.projekt-container {
  display: grid;
  grid-template: auto / repeat(auto-fit, minmax(230px, 1fr));
  grid-gap: 0.9rem;
}
.thumbnail {
  cursor: pointer;
  width: 100%;
  background: #f0f0f0 center / cover no-repeat;
  margin: 0;
  padding-top: 100%;
  position: relative;
  box-shadow: 0 0 0 4px var(--theme-color);
}
.thumbnail p {
  width: 100%;
  text-align: center;
}
.overlay {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background: rgba(0,0,0,0.85);
  z-index: 10;
  opacity: 0;
  transition: opacity 200ms ease-out;
  display: flex;
  align-items: center;
  justify-content: center;
}
.overlay > p {
  line-height: 2rem;
  font-weight: 500;
}
.overlay > p > span {
  font-weight: 200;
  pointer-events: none;
}
.thumbnail:hover .overlay {
  opacity: 1;
}
.loading-screen {
  position: absolute;
  display: flex;
  justify-content: center;
  margin: 50vh 0 0 50%;
  transform: translate(-50%, -50%);
}
.main-spinner {
  width: 80%;
  height: 80%;
  transform: translateY(-25%)
}
.spinner {
  width: 50%;
  height: 50%;
  display: none;
}
.spinner-overlay {
  opacity: 1;
}
.spinner-overlay p {
  display: none;
}
.spinner-overlay .spinner {
  display: initial;
}
.impressum section h2 {
  margin: 0;
}
.animation-fallback {
  display: flex;
  justify-content: center;
  animation: spin 1.6s linear infinite reverse -0.2s;
}
.detail-container {
  line-height: 1.5rem;
  height: 100%;
}
.detail-image {
  width: 100%;
  height: 100%;
  display: block;
}
.detail-text {
  padding: 1rem;
  margin: 0 0 1rem 0;
  text-align: justify;
  hyphens: auto;
  -ms-hyphens: auto;
  background: rgba(30,30,30,0.3);
}
.image-text-block {
  margin-bottom: 2rem;
}
.image-block {
  width: 100%;
  display: block;
  height: auto;
}
.text-block > p {
  background: rgba(30,30,30,0.3);
  margin: 0;
  width: 100%;
  box-sizing: border-box;
  padding: 1rem;
  text-align: justify;
  hyphens: auto;
  -ms-hyphens: auto;
}