.side-panel {
  position: fixed;
  height: 100%;
  width: 250px;
  top: 0;
  left: 0;
  bottom: 0;
  transition: width 200ms, transform 270ms ease-in-out;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: flex-start;
  z-index: 99;
  box-shadow: 0 0 5px 4px rgba(0,0,0,0.3);
  overflow-x: hidden;
  overflow-y: auto;
}
.side-panel::before {
  content: '';
  position: fixed;
  background: linear-gradient(var(--bg-color), var(--bg-color)), url(../images/bg.jpg) left / cover no-repeat;
  height: 100%;
  width: 260px;
  top: 0;
  bottom: 0;
  margin: 0;
  padding: 0;
  left: -5px;
  right: 0;
  filter: blur(4px);
}
.slideout {
  transform: translateX(-280px);
}
.profile-pic {
  position: relative;
  align-self: flex-start;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin: 5rem 0 0 0;
  padding: 0;
  box-shadow: 0 0 6px 1px rgba(0,0,0,0.3);
  border: solid 2px var(--theme-color);
  cursor: pointer;
  user-select: none;
  background: center / cover no-repeat;
}
.profile-pic::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  user-select: none;
  border-radius: 50%;
  transform: scale(0.3);
  background-color: rgba(8, 8, 8, 0.2);
  transition: transform 350ms ease-out, opacity 400ms ease-out;
}
.profile-pic:active::before {
  opacity: 1;
  transform: initial;
}
.side-link-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: flex-start;
  text-align: center;
  z-index: 6;
}
.side-link {
  width: 70%;
  text-decoration: none;
  margin: 0.6rem 0;
  padding: 0.8rem 0;
  font-size: 1.1rem;
}
.side-link:hover {
  box-shadow: inset 0 0 70px 7px rgba(0,0,0,0.3);
  border-radius: 40px;
  color: rgba(240,240,240,0.95);
}
.language-toggle {
  z-index: 6;
  align-self: flex-end;
  margin: 3rem 0 1.2rem 0;
  text-decoration: none;
  border: none;
  cursor: pointer;
  user-select: none;
  outline: none;
}
.language-toggle span {
  font-weight: bold;
}