<!DOCTYPE html>
<html lang="de">

  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Portfolio | Jonas Kuske</title>
    <meta name="referrer" content="no-referrer-when-downgrade">
    <meta name="application-name" content="Portfolio">
    <link rel="author" href="humans.txt">
    <link rel="apple-touch-icon" sizes="76x76" href="<%= require('@icon/apple-icon-76.png') %>">
    <link rel="apple-touch-icon" sizes="120x120" href="<%= require('@icon/apple-icon-120.png') %>">
    <link rel="apple-touch-icon" sizes="152x152" href="<%= require('@icon/apple-icon-152.png') %>">
    <link rel="apple-touch-icon" sizes="167x167" href="<%= require('@icon/apple-icon-167.png') %>">
    <link rel="apple-touch-icon" sizes="180x180" href="<%= require('@icon/apple-icon-180.png') %>">
  </head>

  <body>

  </body>

</html>